<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedro's</title>
</head>
<body>

    <div style="text-align: center;">
        
        {% if producto %}
        <h2>Formulario Actualizar Productos</h2><br>
        <form action="{% url 'productosUpdate' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <pre>ID:                  <input type="text" name="id_producto" value="{{ producto.id_producto }}" readonly></pre>
            <pre>Nombre:              <input type="text" name="nombre_producto" value="{{ producto.nombre_producto }}"></pre>
            <pre>Precio:              <input type="text" name="precio" value="{{ producto.precio }}"></pre>
            <pre>Categoría:           <select name="categoria">
                {% for categoria in categorias %}
                    {% if categoria.id_categoria == producto.id_categoria.id_categoria %}
                        <option value="{{ categoria.id_categoria }}" selected>{{ categoria.categoria }}</option>
                    {% else %}
                        <option value="{{ categoria.id_categoria }}">{{ categoria.categoria }}</option>
                    {% endif %}
                {% endfor %}
            </select></pre>
            <pre>Imagen Actual:       <img src="{{ producto.foto.url }}" width="100" height="100"></pre>
            <pre>Nueva Imagen:        <input type="file" name="nueva_foto"></pre> <!-- Campo para la nueva imagen -->

            <input type="submit" name="opcion" value="Actualizar">
        </form><br><br>
        {% endif %}
        
        <div id="idMensajes">
            {% if mensaje %}
            {{ mensaje }}
            {% endif %}
        </div>
        
        <br><br>
        <a href="{% url 'crud' %}">Volver</a>
    </div>

</body>
</html>
